<h1><%= t("views.edit_name", name: @developer.company_name) %></h1>

<%= render 'form', developer: @developer %>

<%= link_to t("views.show"), @developer %> |
<%= link_to t("views.back"), developers_path %>
