<div id="left-nav" class="left-nav">

  <h1>Menu</h1>

  <ul>
    <li><%= link_to 'Developers', developers_path%></li>
    <li><%= link_to 'Developments', developments_path %></li>
    <li><%= link_to 'Documents', documents_path %></li>
  </ul>
</div>
