<p id="notice"><%= notice %></p>

<h1>Developments for <%= @division %></h1>

<%= render 'developments/developments', developments: @developments, parent: @division %>

<%= link_to_unless cannot?(:create, Development), 'New Development', new_division_development_path(@division) %>
