<% breadcrumb :plot_edit, @plot, @development, @development.developer %>


<h1><%= t("views.edit_name", name: @plot.id) %></h1>

<%= render 'form', plot: @plot %>

<%= link_to 'Show', [@development, @plot] %> |
<%= link_to 'Back', development_plots_path(@development) %>
