<div class="row">
  <div class="row-item">
    <%= render "dashboard/sections/recent_notifications" %>
  </div>
</div>
<div class="row">
  <div class="row-item half">
    <%= render "dashboard/sections/recent_documents" %>
  </div>
  <div class="row-item half">
    <%= render "dashboard/sections/recent_faqs" %>
  </div>
</div>
