<% breadcrumb :division_edit, @division, @developer %>

<h1><%= t("views.edit_name", name: @division.division_name) %></h1>

<%= render 'form', division: @division %>

<%= link_to t("views.show"), [@developer, @division] %> |
<%= link_to t("views.back"), developer_divisions_path(@developer) %>
