<% breadcrumb :development_edit, @development, @developer %>

<h1><%= t("views.edit_name", name: @development.development_name) %></h1>

<%= render 'developments/form', parent: @developer, development: @development %>

<%= link_to t("views.show"), developer_development_path(@developer, @development) %> |
<%= link_to t("views.back"), developer_developments_path(@developer) %>
