<h1><%= @developer %> <%= Development.model_name.human.pluralize %></h1>

<%= render 'developments/developments', developments: @developments, parent: @developer %>

<%= link_to_unless cannot?(:create, Development), t("views.add_type", type: Development.model_name.human), new_developer_development_path(@developer) %>
