<h1>Editing Document</h1>

<%= render 'form', document: @document %>

<br>

<%= link_to 'Destroy', @document, method: :delete, data: { confirm: 'Are you sure?' } %>

<br>

<%= link_to 'Show', @document %> |
<%= link_to 'Back', documents_path %>
