<h1><%= @development %>  <%= Room.model_name.human.pluralize %></h1>

<%= render 'rooms', rooms: @rooms %>
<br>

<%= link_to t("views.add_type", type: Room.model_name.human), new_development_room_path(@development) %>
