// Hide the dialog contents when the dialog is not live
.archive-section {
  display: none;
}

// Styling for the trash icon: TODO should this be for all fa icons?
.fa-trash:before {
  line-height: $icon-font-line-height;
  font-size: $base-font-size;
}

// Note: we use jQuery UI CSS for functions like displaying the dialog and
// disabling the background, if we didn't use it, we would need to recreate
// its functions which is (probably) a lot of work

// But because we do use it, we need settings to override the jQuery UI CSS styles

// We also need to override the default Hoozzi button styles, which are
// different to the styles for dialog buttons

// The sections below here all change various bits and pieces of styling that
// we have inherited but want to style differently in Hoozzi dialogs
.ui-dialog.archive-dialog {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $primary-black;
  padding: $spacing-small;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: $dialog-width !important; // Need !important otherwise the jQuery dialog overrides

  .ui-dialog-titlebar {
    background: none;
    border: none;
  }

  h3 {
    color: $primary-green;
  }
}

.ui-button-text {
  font-size: $base-font-size;
  background-color: $ui-white;
  color: $primary-red;
  border-style: none;
  border: none;
  border-radius: $border-radius;
}

.btn-delete {
  .ui-button-text {
    background-color: $primary-red;
    color: white;
  }

  // Add the font awesome fa-trash icon
  .ui-button-text:before {
    font-family: FontAwesome;
    content: "\f1f8";
    padding-right: $spacing-small;
  }
}

.ui-dialog .ui-dialog-buttonpane {
  border: none;
}

.ui-dialog .ui-dialog-buttonpane button {
  border: none;
}
