.alert {
  background: $secondary-red;
  color: $ui-white;
  padding: $spacing-small;
  text-align: center;
}

.notice {
  background: $primary-green;
  color: $ui-white;
  padding: $spacing-small;
  text-align: center;
}
