
.right {
  float: right;
}

.center {
  text-align: center;
}

.pagination {

  ul {
    @include clearfix();
    margin-top: $spacing-small;
    padding-top: $spacing-small;
  }

  li {
    list-style: none;
    display: block;
    float: left;
    white-space: nowrap;
    color: $base-button-font-color;
  }

  li:first-child {
    a {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }

  li:last-child {
    a {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .active
  {
    color: $primary-red;
  }

  // Style a link as though it were a button
  a {
    font-size: $base-button-font-size;
    line-height: $button-line-height;
    padding: $spacing-small;
    background-color: $base-button-bg-color;
    border: $border-size solid $base-button-border-color;
    border-radius: 0;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $primary-red;
      background-color: $base-button-bg-color-hover;
      border: $border-size solid $base-button-border-color-hover;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }
}
