@import "neat/neat-helpers";

// neat config
$grid-columns: 16;

//screen sizes
$x-small: 480px;
$small: 720px;
$medium: 1024px;;
$large: 1440px;
$x-large: 1600px;

//larger than
$mobile-up: new-breakpoint(min-width $x-small 16);
$tablet-portrait-up: new-breakpoint(min-width $small 16);
$tablet-landscape-up: new-breakpoint(min-width $medium 16);
$desktop-up: new-breakpoint(min-width $large 16);
$desktop-large-up: new-breakpoint(min-width $x-large 16);

//smaller than
$mobile-down: new-breakpoint(max-width $x-small 16);
$tablet-portrait-down: new-breakpoint(max-width $small 16);
$tablet-landscape-down: new-breakpoint(max-width $medium 16);
$desktop-down: new-breakpoint(max-width $large 16);
$desktop-large-down: new-breakpoint(max-width $x-large 16);
