
//screen sizes
$x-small: 480px;
$small: 720px;
$medium: 1024px;;
$large: 1440px;
$x-large: 1600px;

//devices
$mobile: new-breakpoint(min-width $x-small 4);
$tablet-portrait: new-breakpoint(min-width $small 8);
$tablet-landscape: new-breakpoint(min-width $medium 12);
$desktop: new-breakpoint(min-width $large 12);
$desktop-large: new-breakpoint(min-width $x-large 12);
