/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/** WARNING All this code is from the demo and will be removed under HOOZ-2 */
body {
    color: #2a2a2a;
    background-color: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
}

.navbar-hoozzi {
    color:                  #fff;
    background:             #384d5e; /* Old browsers */
    background:             -moz-linear-gradient(left,  #384d5e 1%, #252f38 100%);
    background:             -webkit-linear-gradient(left,  #384d5e 1%,#252f38 100%);
    background:             linear-gradient(to right,  #384d5e 1%,#252f38 100%);
    filter:                 progid:DXImageTransform.Microsoft.gradient( startColorstr='#384d5e', endColorstr='#252f38',GradientType=1 );
    margin:                 0;
    min-height:             0;
    padding:                10px;
}

.nav-member {
  display:          inline-block;
  vertical-align:   top;
}

.nav-menu {
    text-align:     center;
    color:          white;
}

.dash-link {
    color:            white;
    padding-left:     40px;
    background-color: inherit;
    border-style:     none;
}

/** Need to override the rails default */
.dash-link:visited {
    color:  white;
}

.dash-link:hover {
    border-style:     none;
    background-color: inherit;
}

.dash-link:after {
    content:   normal;
}

ul {
    list-style:  none;
}

a {
    line-height:            50px;
    text-decoration:        none;
    background-color:       #f77a60;
    border-color:           #f77a60;
    border-width:           1px;
    border-style:           solid;
    padding-top:            4px;
    padding-right:          7px;
    padding-left:           7px;
    padding-bottom:         4px;
    -webkit-border-radius:  20px;
    -moz-border-radius:     20px;
    border-radius:          20px;
    color:                  white;
    font-size:              13px;
}

a:visited {
    color:              white;
}

a:hover {
    background-color:   white;
    color:              #f77a60;
}

a:after {
    font-family:    'FontAwesome';
    content:        '\f054';
    padding-left:   5px;
    position:       relative;
    font-size:      90%;
}

label {
    color:     #adadad;
}

td {
    white-space: nowrap;
}

button,
input[type=submit] {
    background-color: #f77a60;
    border-color:     #f77a60;
    color:            white;
    font-size:        13px;
}

button:hover,
input[type=submit]:hover {
    color:            #f77a60;
    border-color:     #f77a60;
    background-color: white;
}

button,
input {
    padding-top:            4px;
    padding-right:          7px;
    padding-left:           7px;
    padding-bottom:         4px;
    -webkit-border-radius:  20px;
    -moz-border-radius:     20px;
    border-radius:          20px;
    border-width:           1px;
}