// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/** WARNING this styling may be temporary */
.left-nav {
  background-color: black;
  width:            200px;
  color:            white;
  position:         absolute;
  top:              104px;
  display:          block;
}

.show {
}

.hide {
  display:   none;
}