<% unless @hide_documents_header %>
  <h3>Documents</h3>
<% end %>
<table>
  <thead>
    <th>Title</th>
    <th>File</th>
  </thead>
  <tbody>
    <% if documentable.documents.count < 1 %>
      <tr>
        <td colspan="2">
          <%= link_to "Add documents", edit_path %>
        </td>
      </tr>
    <% end %>

    <% documentable.documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><a href="<%= document.file.url %>" target="_blank">Download</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
