<div class="nested-fields">
  <% if f.object && f.object.file? %>
    <%= render 'image', image: f.object %>
  <% end %>

  <%= f.input :title %>
  <%= f.input :file %>

  <%= link_to_remove_association "remove image", f %>
</div>
