<h1><%= t("views.edit_name", name: @phase.name) %></h1>

<%= render 'form', phase: @phase %>

<%= link_to t("views.show"), [@development, @phase] %> |
<%= link_to t("views.back"), development_phases_path(@development) %>
