<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/head', locals: { title: t(".title") } %>
  <body class="admin-login-view">
    <div class="outer-container">
        <div class="main-container">
          <main>
            <%= render "components/flashes" %>
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
